<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    
     
   <add name="AQSMS" connectionString="Data Source=TOSHIBA\SQLEXPRESS;Initial Catalog=AQSMS;User ID=sa;Password=toshiba;"/>
    
    
    <!--<add name="AQSMS" connectionString="Data Source=SERVERACCOUNTS\SQLEXPRESS;Initial Catalog=AQSMS;User ID=sa;Password=aqsms;"/>-->

    <!--<add name="AQSMS" connectionString="Data Source=172.16.50.240\SQLEXPRESS;Initial Catalog=AQSMS;User ID=sa;Password=eacs;"/>-->
    
    <add name="MIS.Properties.Settings.BASRDBConnectionString" connectionString="Data Source=YASAR-PC\SQLEXPRESS;Initial Catalog=BASRDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MIS.Properties.Settings.ClientBASRDBConnectionString" connectionString="Data Source=|DataDirectory|\BASRDB.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    <add name="MIS.Properties.Settings.SecMISConnectionString" connectionString="Data Source=YASAR-PC\SQLEXPRESS;Initial Catalog=SecMIS;User ID=sa;Password=allamaiqbal" providerName="System.Data.SqlClient"/>
    <add name="MIS.Properties.Settings.ClientSecMISConnectionString" connectionString="Data Source=|DataDirectory|\SecMIS.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    

<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
